
html {
  position: relative;
  min-height: 100%;
}


body {
  /*min-height: 2000px;*/
  /*padding-top: 70px;*/
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*************** NAVBAR *********************/

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
  font-size: large;
}

.dropdown-header {
  font-size: larger;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #55acee;
  /*box-shadow: 0 3px 7px 0 #4f4a65;*/
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: #55acee;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #55acee;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #55acee;
  color: #fff;
}

/*************** CUSTOM *********************/

.media-heading.inverse {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .social-mobile a.btn.btn-lg {
  font-size: 22px;
  height: 50px;
  width: 50px;
  }
  .float {
  height: 50px;
  width: 50px;
  }
  .media-heading {
  font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
   .social {
   display: none;
   }
}

@media screen and (min-width: 601px) {
   .float {
   display: none;
   }
}

.float{
  background-image: url(../images/ben-tiny.jpg), linear-gradient(#fff, #fff 25%, #e6e6e6);
  border-radius: 50%;
  box-shadow: 0 3px 7px 0 #4f4a65;
  border: 2px solid #55acee !Important;
  width: 50px;
  height: 50px;
  padding: 0;
}

.float:focus, .float:active:focus, .float.active:focus {
  background-image: url(../images/ben-tiny.jpg), linear-gradient(#fff, #fff 25%, #e6e6e6);
  border-radius: 50%;
  border: 2px solid #dd4b39 !Important;
  outline: 0 none;
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn-group {
  margin-right: 20px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 61px;
  height: 61px;
  z-index: 100;
  display: inline;
  text-decoration: none;
  border: none;
}

.social-mobile {
  float: right;
  list-style: none outside none;
  margin: 0;
  margin-bottom: 5px;
  max-width: 61px;
  padding: 0;
  background:none;
  border:none;
  box-shadow:none;
}

.social-mobile li {
  display: block;
  list-style: none outside none;
  margin: 3px 0 15px 0;
}

.social-mobile a {
  width: 61px;
  height: 61px;
  padding: 12px 15px 12px 15px;
}

.ben {
  /*border-radius: 50%;*/
  box-shadow: 0 3px 7px 0 #4f4a65;
  border: 2px solid #55acee !Important;
  /*position: relative;*/
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*background-color: transparent;*/
  background-image: url(../images/ben-tiny.jpg), linear-gradient(#fff, #fff 25%, #e6e6e6);
  background-repeat: none;
  /*border: 1px solid transparent;*/
  border-radius: 3px;
}

.border {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
}

@media (min-width: 768px) {
  .container .border, .container-fluid .border {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: 0 3px 7px 0 #4f4a65;
	}
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-size: 32px;
  background-color: #eee;
}

/*************** PROJECTS *********************/

.projects {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #f9f9f9;
  border: 2px solid #55acee !Important;
}

.container .projects, .container-fluid .projects {
  border-radius: 3px;
}

.projects p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .projects h1, .projects .h1 {
    font-size: 63px;
	}
  .projects h1, .projects .h1 {
    color: #444444;
	}
}

/*********************** PROJECT MODAL ***********************/

.projectmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.projectmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.projectmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.projectmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.projectmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.projectmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.projectmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.projectmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.projectmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.project-help{
  font-size: 12px;
}

/************************ SOCIAL *************************/

.btn-google-plus {
  color:#fff;
  background-color:#dd4b39;
  border-color:rgba(0,0,0,0.2);
}

.btn-google-plus:hover {
  color:#fff;
  background-color:#ca3523;
  border-color:rgba(0,0,0,0.2);
}

.btn-facebook {
  color:#fff;
  background-color:#3b5998;
  border-color:rgba(0,0,0,0.2);
}

.btn-facebook:hover {
  color:#fff;
  background-color:#30487b;
  border-color:rgba(0,0,0,0.2);
}

.btn-github {
  color:#fff;
  background-color:#444;
  border-color:rgba(0,0,0,0.2);
}

.btn-github:hover {
  color:#fff;
  background-color:#303030;
  border-color:rgba(0,0,0,0.2);
}

.btn-twitter {
  color:#fff;
  background-color:#55acee;
  border-color:rgba(0,0,0,0.2);
}

.btn-twitter:hover {
  color:#fff;
  background-color:#309aea;
  border-color:rgba(0,0,0,0.2);
}

.btn-stack-overflow {
  color:#fff;
  background-color:#d38b28;
  border-color:rgba(0,0,0,0.2);
}

.btn-stackoverflow:hover {
  color:#fff;
  background-color:#d37a00;
  border-color:rgba(0,0,0,0.2);
}

.btn-linkedin {
  color:#fff;
  background-color:#007bb7;
  border-color:rgba(0,0,0,0.2);
}

.btn-linkedin:hover {
  color:#fff;
  background-color:#d37a00;
  border-color:rgba(0,0,0,0.2);
}

.btn-social:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

/**************************************/

